// colors
$main-color: #3F2F72;

// font
$base-font: "Inter", sans-serif;
$second-font: "Raleway", sans-serif;


// z-index
$z-index-1: 1; // standard elements
$z-index-2: 2; // standard elements on standard elements
$z-index-3: 3; // header or sidebar
$z-index-4: 4; // modal
$z-index-5: 5; // extra elements

$media-desktop: 1620px;
$media-xlg: 1420px;
$media-lg: 1024px;
$media-md: 768px;
$media-sm: 425px;
